.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container{

  background-color: cyan;
  // height: 600px;
  // padding: 20px;
  padding-bottom:40px ;
  width: 800px;
  margin: 0 auto;
  border-radius: 40px;
}

.question{
  font-size: 25px;
  font-style:bold;
  padding : 30px 40px;
  
  // margin-top: 40px;
}

.options-container{
  font-size: 20px;
  list-style-type: none;
  text-align: left;
  padding-left: 40px;
  width: 90%;
}

.options{
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid black;
  margin-top: 5px;
  // background-color: red;
  // padding: 5px;
  font-size:15px;
  border-radius: 10px;
  height: 40px;
  padding-left: 0px;
}

.incorrect-option{
  background-color: red;
}


.correct-option{
  background-color: darkgreen;
}

.option{
  padding-left: 5px;
}

.tick-untick{
  width: 30px;
  height: 30px;
}

.submit-btn{
  width: 90%;
  margin: 0 auto;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  background-color: green
}

.submit-btn-text{
  font-size: 20px;
  font-style: bold;
  ;
}


.pop-message{
  font-weight: 800;
  font-style: italic;
}